<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LogEasy - Menu</title>

    <link rel="stylesheet" href="/static/css/menu.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>
<body>

<header>

    <h1>📦 LogEasy</h1>

    <p>Sistema de Gerenciamento Logístico</p>

</header>

<main>

    <button onclick="Configuracao_estoque()">
        ⚙️
        <span>Configuração de Estoque</span>
    </button>

    <button onclick="pag_produtos()">
        📋
        <span>Produtos</span>
    </button>

    <button onclick="recebimento()">
        📥
        <span>Recebimento</span>
    </button>

    <button onclick="conferencia_recebimento()">
        🧐
        <span>Conferência</span>
    </button>

    <button onclick="Armazenar()">
        🏗️
        <span>Armazenagem</span>
    </button>

    <button onclick="estoque()">
        📦
        <span>Estoque</span>
    </button>

    <button class="sair" onclick="logout()">
        🚪
        <span>Sair</span>
    </button>

</main>

<script src="/static/script.js"></script>

</body>
</html>